:root {
    --base-hue: 200;
    --main-color: hsl(var(--base-hue) 80% 95% / 1);
    --accent-color: hsl(var(--base-hue) 80% 55%);
    --accent-color-transparent: hsl(var(--base-hue) 80% 55% / 0);
    --background-color: hsl(var(--base-hue) 30% 10% / 1);
}

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;

    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5rem;

    background-color: var(--background-color) !important;
    color: var(--main-color) !important;
}

main {
    width: min(100ch, 100% - 3rem);
    margin-inline: auto;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

.colorize {
    color: var(--accent-color) !important;
}

.faded {
    opacity: 0.5;
}

.colorize-on-hover {
    transition: all 0.3s;
}

.colorize-on-hover:hover {
    color: var(--accent-color);
}

.underline-on-hover {
    transition: all 0.3s;
    text-decoration: underline 0.15rem var(--accent-color-transparent);
}

.underline-on-hover:hover {
    text-decoration: underline 0.15rem var(--accent-color);
}


a,
a:visited {
    color: var(--main-color);
}

strong {
    color: var(--accent-color);
}