@import url('/static/css/base.css');
@import url('/static/css/settings.css');


header {
    padding-bottom: min(5rem, 5vw);
}

header h1 {
    padding: min(5rem, 5vw);
    padding-bottom: 0;
    cursor: default;
    margin-bottom: 3rem;
    line-height: 2.75rem;
}

section+section {
    margin-top: 5rem
}

.work h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work+.work {
    margin-top: 2rem;
}

.dates {
    text-align: end;
    margin-left: 1rem;
}

.separated {
    margin-left: 1rem;
}



.skills ul {
    text-align: center;
    padding-left: 0;
}

.skills li {
    display: inline;
    margin: 0 1rem;
}


.for-print {
    display: none;
}

@media print {
    :root {
        --main-color: hsl(200 80% 95% / 1);
        --accent-color: hsl(200 80% 55%);
        --accent-color-transparent: hsl(200 80% 55% / 0);
        --background-color: hsl(200 30% 10% / 1);
    }

    @page {
        size: 11in 21in;
    }

    html {
        margin: 2rem;
    }

    header {
        padding-bottom: 2rem;
    }


    section+section {
        margin-top: 2rem
    }

    .projects {
        display: none;
    }

    .for-print {
        display: unset;
    }
}