@import url('/static/css/base.css');
@import url('/static/css/settings.css');


header {
    padding-bottom: min(5rem, 5vw);
}

header h1 {
    padding: min(5rem, 5vw);
    padding-bottom: 0;
    cursor: default;

    margin-bottom: min(12rem, 14vw);
    line-height: min(5.5rem, 14vw);
    font-size: min(6rem, 15vw);
}